<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<!-- 文件输出格式 -->
	<property name="PATTERN"
		value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 文件路径 -->
		<file>../app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 文件名称 -->
			<fileNamePattern>../app.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 文件最大保存历史数量 -->
			<MaxHistory>100</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${PATTERN}</pattern>
		</layout>
	</appender>
	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>
	<!-- 测试环境+开发环境. 多个使用逗号隔开. -->
	<springProfile name="test,dev">
		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>

	<!-- 生产环境. -->
	<springProfile name="prod">
		<root level="ERROR">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>
</configuration>
